# Backend
backend/data/
backend/.cache/
backend/apps/**/data/

# Frontend
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
backend/apps/core-go-rpc/.env

# OS
.DS_Store

# Runtime logs
logs/
