# Backend
backend/data/
backend/.cache/
backend/services/**/data/

# Frontend
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
backend/services/llm-python-rpc/.env

# OS
.DS_Store

# Runtime logs
logs/
